<launch>
<!-- Bridge node to transform high-level position and velocity commands to low-level position setpoints -->
<node name="simulator" pkg="tps_robot" type="arm_bridge.py" output="screen"/>

<!-- Simulator node -->
	<param name="use_gui" value="True"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true">
	<remap from="joint_states" to="joint_state_publisher/manual"/>
	</node>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tps_robot)/launch/config.rviz" />
</launch>
