<!-- Launch file for 4 points simulator -->
<launch>

<!-- Parameters -->
<param name="Ts" value="2" />
<param name="Kp" value="2" />

<!-- Nodes -->
<node name="simulator" pkg="tps_robot" type="simu4points"></node>
<node name="setpoint_generator" pkg="tps_robot" type="setpoint4points.py" />
</launch>
